.forecast-div {
    min-height: 600px;
    margin-top: 30px;
    user-select: none;
    animation: slide-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: rotateY(20deg);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.title {
    font-size: 23px;
    font-weight: 700;
}


.accordion-item {
    cursor: pointer;

}

.hourly-item {
    background-color: #f5f5f5;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;

}

.icon-small {
    width: 40px;
    cursor: pointer;
}

.time {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    cursor: pointer;

}

label.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
    cursor: pointer;

}

.min-max {
    color: #757575;
}

.hourly-detail-grid {
    grid-row-gap: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    grid-column-gap: 15px;
    column-gap: 15px;
    row-gap: 0;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    animation: slide-in .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        height: 0;
        transform: rotateY(60deg);
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        height: 100px;
        transform: rotateY(0deg);
    }
}

.hourly-detail-grid-item {
    align-items: center;
    display: flex;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    height: 30px;
    justify-content: space-between;

}

.hourly-detail-grid-item>* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.hourly-detail-grid-item :first-child {
    color: #757575;
}

.hourly-detail-grid-item :last-child {
    color: #212121;
}