.container {
	max-width: 1080px;
	margin: 20px auto;
	padding: 0 5px;
}

/* CSS loading Styles */
.loading {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left: 4px solid #034a79;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 30%;
	width: 40px;
	height: 40px;
	animation: spin 0.5s linear infinite;
	margin: -20px 0 0 -20px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.css-13cymwt-control,
.css-t3ipsp-control {
	padding: 6px !important;
	border-radius: 20px !important;
	z-index: 10;
}

.select-city-message {
	width: max-content;
	font-size: 14px;
	color: #212121;
	font-weight: 700;
	position: absolute;
	left: 50%;
	top: 38%;
	transform: translateX(-50%);
	animation: fade-in .3s ease;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (max-height: 280px) {

	.loading,
	.select-city-message {
		display: none;
	}
}